/* General formatting */
* {
    font-family: Consolas, 'Courier New', monospace;
    font-size: 12px;
    color: dodgerblue;
}

:root {
    color-scheme: dark;
}

body {
    background-color: black;
}

a {
    display: inline;
    color: aqua;
    text-decoration: underline;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Node type-specific formatting */
.node {
    padding: 0;
    margin: 0;
    margin-left: 2rem;
    display: block;
}

.debug {
    color: magenta;
}

.text {
    display: inline;
    color: white;
}

.attr {
    display: inline;
    color: skyblue;
}

.string {
    display: inline;
    color: orange;
}

.comment {
    color: gray;
}

.doctype {
    color: dimgray;
}

.document {
    color: white;
}

/* Top-level formatting */
#app > * {
    margin-left: 0;
}
